{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olz-field radio{{ mode == 'image' ? ' image' : '' }}">
        <input type="hidden" name="{{ name }}" value="" />

        {% if options %}
            {% set tpl = multiple ? 'checkbox' : 'radio' %}

            {% include '@radio/tpl-' ~ tpl ~ '.html.twig' with {
                'fieldname': name,
                'identifier': identifier,
                'mode': mode,
                'options': options,
                'value': value,
            } only %}
        {% else %}
            {{ t_no_options|raw }}
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
