{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olz-field radio{{ mode == 'image' ? ' image' : '' }}">
        <input type="hidden" name="{{ name }}" value="" />

        {% if options %}
            {% set num = 0 %}
            {% set square = multiple ? '[]' : '' %}
            {% set type = multiple ? 'checkbox' : 'radio' %}

            {% for k, option in options if option %}
                {% set id = identifier ~ '-' ~ num %}
                {% set selected = k in value ? ' checked="checked"' : '' %}

                <label for="{{ id }}">
                    {% if mode == 'image' %}
                        <img src="{{ option.image }}" alt="" />
                        <span>
                            <input type="{{ type }}" name="{{ name ~ square }}" id="{{ id }}" value="{{ k }}"{{ selected }} />
                            {{ option.label|raw }}
                        </span>
                    {% else %}
                        <input type="{{ type }}" name="{{ name ~ square }}" id="{{ id }}" value="{{ k }}"{{ selected }} />
                        {{ option|raw }}
                    {% endif %}
                </label>

                {% set num = num + 1 %}
            {% endfor %}
        {% else %}
            {{ t_no_options|raw }}
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
