{% set num = 0 %}

{% for k, option in options if option %}
    {% set selected = k == value ? true : false %}
    {% set id = identifier ~ '-' ~ num %}

    <label for="{{ id }}">
        {% if mode == 'image' %}
            <img src="{{ option.image }}" alt="" />
            <span>
                <input type="radio" name="{{ fieldname }}" id="{{ id }}" value="{{ k }}"{{ selected ? ' checked="checked"' : '' }} />
                {{ option.label|raw }}
            </span>
        {% else %}
            <input type="radio" name="{{ fieldname }}" id="{{ id }}" value="{{ k }}"{{ selected ? ' checked="checked"' : '' }} />
            {{ option|raw }}
        {% endif %}
    </label>

    {% set num = num + 1 %}
{% endfor %}
